.navbar {
  .navbar-brand {
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 0.05em;
    line-height: 1em;
  }
  .nav-link {
    font-size: 1em;
    font-weight: lighter;
    padding-left: 1em !important;
    padding-right: 1em !important;
    text-transform: uppercase;
  }

  .nav-item.active {
    position: relative;
  }

  .nav-item.active::before {
    border-bottom: 7px solid transparent;
    border-left: 7px solid #fff;
    border-top: 7px solid transparent;
    content: " ";
    display: inline-block;
    height: 0;
    left: 0;
    position: absolute;
    top: 35%;
    width: 0;
  }
}

.carousel-item {
  height: 450px;
}

.carousel-caption > h2,
.carousel-caption > p {
  color: #fff;
  padding: 0.5rem;
  position: relative;
  text-shadow: 0 1px 0 #222;
}

/*
  Blur on top of gray overlay for text on image clarity
*/
.carousel-caption > h2::before,
.carousel-caption > p::before {
  background: rgba(51, 51, 51, 0.4) fixed;
  border-radius: .5rem;
  content: "";
  filter: blur(17px);
  -webkit-filter: blur(17px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.carousel-image-1 {
  background-image: url("../img/showcase_3.jpeg");
  background-size: cover;
}

.carousel-image-2 {
  background-image: url("../img/showcase_1.jpeg");
  background-size: cover;
}

.carousel-image-3 {
  background-image: url("../img/showcase_2.jpeg");
  background-size: cover;
}
